# Install psycopg2

In [65]:
pip install psycopg2

# Import psycopg2

In [66]:
import psycopg2 as pg2

# Create your first database

### You will need to install PostgreSQL on your computer first

Download the PostrgreSQL app from here

https://www.postgresql.org/download/

In [67]:
try:
    # Connect to the PostgreSQL server
    connection = pg2.connect(
        dbname='postgres',  # Connect to the default 'postgres' database
        user='muddassirkhalidi',
        password='Mjkt260421pgadmin',
        host='localhost',
        port=5432
    )
    connection.autocommit = True  # Enable autocommit mode

    # Create a cursor object to execute SQL commands
    cursor = connection.cursor()

    # Execute the SQL command to create a new database
    create_database_query = 'CREATE DATABASE test'
    cursor.execute(create_database_query)

    print("Database created successfully.")

except pg2.Error as e:
    print("Error:", e)

finally:
    # Close the cursor and connection
    cursor.close()
    connection.close()

# Creating a table

In [68]:
try:
    # Connect to the PostgreSQL server
    connection = pg2.connect(
        dbname='test',
        user='muddassirkhalidi',
        password='Mjkt260421pgadmin',
        host='localhost',
        port=5432
    )
    connection.autocommit = True  # Enable autocommit mode

    # Create a cursor object to execute SQL commands
    cursor = connection.cursor()

    # Execute the SQL command to create a new database
    create_database_query = '''CREATE TABLE test 
    (ID SERIAL PRIMARY KEY, NAME VARCHAR(100), AGE INTEGER)'''
    cursor.execute(create_database_query)

    print("Table created successfully.")

except pg2.Error as e:
    print("Error:", e)

# finally:
#     # Close the cursor and connection
#     cursor.close()
#     connection.close()

# Inserting data in a table

### This can be done in two ways:
1. You can insert a single row of data: ```execute```
2. You can insert multiple rows of data: ```executemany```

## Inserting one row

### Remember!! Insertion must be done using tuples

### Even if you have just one value to insert, it must be done like below:
```insert_query = "INSERT INTO test (name) VALUES (%s)"```

```data = 'Khalidi'```

```cursor.execute(insert_query, (data,))```

```connection.commit()```

In [69]:
# Define the SQL INSERT statement with placeholders for parameters
insert_query = "INSERT INTO test (name, age) VALUES (%s, %s)"

# Define the data to be inserted as a tuple
data = ('Khalidi', 20)

# Execute the SQL INSERT statement with execute()
cursor.execute(insert_query, data)
connection.commit()
print("Data inserted successfully.")

## Inserting multiple rows

In [70]:
# Define the SQL INSERT statement with placeholders for parameters
insert_query = "INSERT INTO test (name, age) VALUES (%s, %s)"

# Define the data to be inserted as a list of tuples
data = [('Khalidi', 20),
        ('Muddassir', 21),
        ('Ahmed', 19),
        ('Yasser', 20)]

# Execute the SQL INSERT statement with executemany()
cursor.executemany(insert_query, data)
connection.commit()
print("Data inserted successfully.")

# Retrieving values from your table

### Retrieval in python-DB has three methods:

```fetchall()```: Retrieves all rows and returns a list of tuples

```fetchone()```: Retrieves one tuple after the previous fetch statement

```fetchmany()```: Retrieves a list of the number of tuples as specified after the previous statement

### NOTE: Be careful when using ```fetchone()``` and ```fetchmany()```
### The cursor variable acts like an actual cursor where the next return will start the cursor's current position

## fetchall()

In [71]:
#Define the SQL statement to retrieve data
retrieve_statement = 'SELECT * FROM test'

#Execute the SQL statement with execute()
cursor.execute(retrieve_statement)

#Store the data in a variable
rows = cursor.fetchall()

for row in rows:
    print(row)

## fetchone()

In [56]:
#Define the SQL statement to retrieve data
retrieve_statement = 'SELECT * FROM test'

#Execute the SQL statement with execute()
cursor.execute(retrieve_statement)

In [73]:
row = cursor.fetchone()
print(row)

## fetchmany()

In [63]:
#Define the SQL statement to retrieve data
retrieve_statement = 'SELECT * FROM test'

#Execute the SQL statement with execute()
cursor.execute(retrieve_statement)

In [74]:
rows = cursor.fetchmany(2)
print(rows)